header{
    height: 60px;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.logotipo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

main{
    background-color: coral;
    overflow-y: auto;
    height: calc(100vh - 100px);
}

footer{
    background-color: black;
    color: white;
    padding: 8px;
    text-align: center;
    height: 25px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}
.align-items-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.text-align-center{
    text-align: center;
}

